body {
 font-family: 'Roboto Condensed', sans-serif;
 font-size: 20px;
}
.navigation {
    visibility: hidden;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(220, 222, 233, 0.5);
    background-image: url(https://shopjk.net/assets/frontend/theme_5/image/svg/navigation-swiper.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 100% 100% 0;
    cursor: pointer;
    z-index: 10;
}
.swiper .navigation.slider-prev {
    left: 0;
}

.swiper .navigation {
    top: 48%;
    visibility: visible;
}

.swiper .navigation.slider-next {
    right: 0;
    transform: rotate(-180deg);
}


@tailwind base;
@tailwind components;
@tailwind utilities;